<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>

<body>
    <ul><a href="../api/v1/">ApiRoot</a></ul>
        {% if perevals %}
            <table>
                    <tr>
                        <td><ul>_</ul></td>
                        <td>Название______</td>
                        <td>________________________</td>
                        <td>Статус_</td>
                        <td>Фото_</td>
                        <td>Дата добавления_____</td>
                    </tr>
                {% for pereval in perevals %}
                    <tr>
                        <td>{{ pereval.beauty_title }}</td>
                        <td><a href="{% url 'pereval' pk=pereval.pk %}">{{ pereval.title }}</a></td>
                        <td>{{ pereval.other_titles }}</td>
                        <td>{{ pereval.status }}</td>
                        <td>&nbsp &nbsp{{ pereval.images.count }}</td>
                        <td>{{ pereval.send_time }} </td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <center>
               <h2>Данных нет!</h2>
            </center>
        {% endif %}
    </body>
</html>

